<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
     <Appenders>
          <File name="file" fileName="logs/error.log">
               <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %l - %msg%n" />
          </File>
     </Appenders>
     <Loggers>
          <Root level="error">
               <AppenderRef ref="file" />
          </Root>
     </Loggers>
</Configuration>